body {
    //mod by tomoya
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Sans",
      "Hiragino Kaku Gothic ProN",
      Meiryo,
      sans-serif;
      font-feature-settings: "palt" 1;
      word-break: auto-phrase;
    }
  
  code {
    font-family: monospace;
  }